.pagination {
    line-height: 25px;
}

    .pagination span {
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 6px;
        padding-bottom: 6px;
        border: solid 1px #08c;
        text-decoration: none;
        white-space: nowrap;
        background: #08c;
    }

    .pagination a,
    .pagination a:visited {
        text-decoration: none;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 6px;
        padding-bottom: 6px;
        white-space: nowrap;
    }

    .pagination a:hover,
    .pagination a:active {
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 6px;
        padding-bottom: 6px;
        text-decoration: none;
        white-space: nowrap;
        background: #08c;
        }

.gridstyle {
        background-color: white;
}

.gridcolor {
        background-color:white;
}
.droprecords{
    border-radius: 5px;
            width: 100%;
}

 .searchDiv {
            background: #ccc;
            padding: 2px 8px;
            float: right;
            margin: 0px 0px 0px 20px;
            color: #08376a;
            width: 120px;
            line-height: 28px;
            border-radius: 5px;
        }

        .searchIcon {
            height: 25px;
            width: 25px;
            border-width: 0px;
            float: right;
            margin: 2px 0px 0px 9px;
        }

         

        /*Loading process -sai*/
        #loadingDiv {
            position: fixed;
            top: 0px;
            right: 0px;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.87);
            background-image: url('ajax-loader.gif');
            background-repeat: no-repeat;
            background-position: center;
            z-index: 10000000;
            opacity: 1.4;
            filter: alpha(opacity=40); /* For IE8 and earlier */
        }

        .loading {
            position: absolute;
            left: 50%;
            top: 50%;
            margin: -60px 0 0 -60px;
            background: #fff;
            border-radius: 100%;
            border: 10px solid #19bee1;
        }

            .loading:after {
                content: '';
                background: trasparent;
                width: 140%;
                height: 140%;
                position: absolute;
                border-radius: 100%;
                top: -20%;
                left: -20%;
                opacity: 0.7;
                box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
                animation: rotate 2s infinite linear;
            }

        @keyframes rotate {
            0% {
                transform: rotateZ(0deg);
            }

            100% {
                transform: rotateZ(360deg);
            }
        }
  
